<tool name="MarkAPL">  <version>5.0.1</version>  <date>2018-11-06</date>  <main>MarkAPL</main>  <container>#._MarkAPL</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>Tester</script>    <script>OS</script>    <script>WinSys</script>  </needs>  <scriptOnly>0</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>40</buildid></tool>